{% extends 'base.html' %}
{% block content %}
<h4 class="'p-4">Feel a Good Coffee</h4>
<div class="row">
    {% for cofee in cofees %}
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="{{cofee.image}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ cofee.name }}</h5>
              <p class="card-text">${{ cofee.price }}</p>
              <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
    </div>
    {% endfor %}   
</div>


{% endblock %}
